body {
	background-color: #b9a37e;
}

h1 {
	color: #4e4637;
}

h2 {
	color: #4e4637;
}

p {
	color: #4e4637;
}

a {
	color: #4e4637;
}

.main {
	display: flex;
}

.sider {
	display: flex;
	flex-direction: column;
	width: 25%;
}

input {
	border: 0 0 3px 0 solid #4e4637;
	padding: 0;
	width: 100%;
  background-color: #b9a37e;
}

#USA_Map {
	width: 55%;
	transform: translateY(-50px);
}
