body {
	background-color: #b9a37e;
}

h1 {
	color: #4e4637;
}

h2 {
	color: #4e4637;
}

p {
	color: #4e4637;
}

a {
	color: #4e4637;
  font-weight: bolder;
}

.main {
	display: flex;
	justify-content: space-around;
}

.sider {
	display: flex;
	flex-direction: column;
	width: 25%;
}

input {
	all: unset;
	border-bottom: 3px solid #4e4637;
	width: 100%;
	background-color: #b9a37e;
  padding: 0 0 8px 0;
  margin: 0 0 8px 0
}

::selection {
  background: #4e463742;
}

input[type=text] {
  color: #4e4637
}

::placeholder{
  color:#4e463786
}

button {
	background: none;
	border: none;
  padding: 0;
  font: inherit;
  font-size: inherit;
  color: #4e4637;
  text-decoration: underline;
  font-weight: bolder;
}

button:hover {
  cursor: pointer;
}

#USA_Map {
	width: 55%;
	transform: translateY(-50px);
}
